* {
    --first-color: #f7aa00;
    --second-color: #235784;
    --third-color: #40a8c4;
    --fourth-color: #bcdbdf;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.layout-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: clamp(300px, 20vw, 500px) 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.sidebar-container {
    grid-area: sidebar;
    z-index: 1;
    background-color: var(--third-color);
    width: 100%;
    height: 100%;
    display: grid;
    align-content:flex-start;
    grid-template-rows: repeat(auto-fill, min-max(10vh, 1fr));
    .logo-header {
        height: 10vh;
        padding-left: 10%;
        display: grid;
        grid-template-columns: 60px 3fr;
        align-items: center;
        gap: 5%;
        
        img {
            width: 100%;
            filter: invert();
            justify-self: center;
        }

        #logo-name {
            font-size: 2rem;
            color: white;
            font-weight: bold;
        }
    }

    .sidebar-cell {
        height: auto;
        /* padding-left: 10%; */
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 10%;
        margin-right: 10%;
        display: grid;
        grid-template-columns: 60px 3fr;
        grid-template-rows: 1fr;
        align-items: center;
        column-gap: 5%;

        img {
            filter: invert();
            height: 50%;
            justify-self: center;   
        }
        span {
            font-size: 1.5rem;
            color: white;
            font-weight: bold;
        }
    }

    .lower-nav {
        margin-top: 2rem;
    }
}

.sidebar-cell:hover, .logo-header:hover {
    background-color: white;
    border-radius: 30px;

    img {
        filter: none;
    }
    span, #logo-name {
        color: black;
    }
}
.logo-header:hover {
    border-radius: 0;
}

.header-container {
    height: 10rem;
    grid-area: header;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.439);
    display: grid;
    grid: 2fr 3fr / 3fr 2fr;
    grid-template-areas: 
        "header-search-bar header-top-right"
        "header-user header-buttons";

    div {
        /* outline: 1px solid red; */
    }
}

.header-search-bar {
    grid-area: header-search-bar;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    
    img {
        height: 3rem;
        padding: .5rem;
        align-self: center;
    }
    img:hover {
        filter: invert();
        background-color: white;
        border-radius: 50%;
    }
    input {
        padding-left: 3ch;
        border-radius: 20px;
        background-color: var(--fourth-color);
        border: none;
        font-size: 2rem;
    }
}

.header-top-right {
    grid-area: header-top-right;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    align-items: center;
    justify-items: right;
    gap: 2rem;
    
    img {
        height: 3rem;
        padding: .5rem;
    }
    span {
        font-size: 1.5rem;
        font-weight: bold;
        padding: .7rem;
    }
    img:hover {
        filter: invert();
        background-color: white;
        border-radius: 50%;
    }
    span:hover {
        background-color: black;
        color: white;
        border-radius: 20px;
    }
}

.header-user {
    grid-area: header-user;
}

.header-buttons {
    grid-area: header-buttons;
}



.main-container {
    grid-area: main;
    z-index: -1;
    background-color: var(--fourth-color);
}