@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    --first-color: #f7aa00;
    --second-color: #235784;
    --third-color: #40a8c4;
    --fourth-color: #bcdbdf;
}

body {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.layout-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: clamp(300px, 20vw, 500px) 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.sidebar-container {
    grid-area: sidebar;
    background-color: var(--third-color);
    width: 100%;
    height: 100%;
    display: grid;
    align-content:flex-start;
    grid-template-rows: repeat(auto-fill, min-max(10vh, 1fr));
    .logo-header {
        height: 10vh;
        padding-left: 10%;
        display: grid;
        grid-template-columns: 60px 3fr;
        align-items: center;
        gap: 5%;
        
        img {
            width: 100%;
            filter: invert();
            justify-self: center;
        }

        #logo-name {
            font-size: 2rem;
            color: white;
            font-weight: bold;
        }
    }

    .upper-nav {
        outline: 1px solid red;
    }
    

    .sidebar-cell {
        height: 3rem;
        padding-left: 10%;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 60px 3fr;
        align-items: center;
        gap: 5%;

        img {
            filter: invert();
            height: 60%;
            justify-self: center;
        }
        span {
            font-size: 1.5rem;
            color: white;
            font-weight: bold;
        }
    }
}

.header-container {
    grid-area: header;
}

.main-container {
    grid-area: main;
    background-color: var(--fourth-color);
}